<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,400;1,600;1,800&family=Coming+Soon&family=Instrument+Serif:ital@0;1&family=Inter:wght@400;600;700&family=Montserrat:wght@300;400;700;800&family=Orbitron:wght@400;600;700&family=Raleway:wght@300;400;600&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>Form</title>
  </head>
  <body>
    <div id="container">
      <div id="form-container">
        <h2>Data Form</h2>
        <form action="/form/message" method="post">
          <label for="fname"><%=fname %></label><br />
          <input type="text" id="fname" name="fname" /><br />
          <label for="lname"><%=lname %></label><br />
          <input type="text" id="lname" name="lname" /><br /><br />
          <button type="submit"><%=btn %></button>
        </form>
      </div>
    </div>
  </body>
</html>
